@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: #8dbcc7;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #647fbc;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #91adc8;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #d6cfd2;
    --sidebar-ring: #647fbc;
  }

  .dark {
    --sidebar-background: #647fbc;
    --sidebar-foreground: #ffffff;
    --sidebar-border: rgba(164, 204, 217, 0.1);
  }
}