@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: #8dbcc7;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #647fbc;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #91adc8;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #d6cfd2;
    --sidebar-ring: #647fbc;
  }

  .dark {
    --sidebar-background: #ffffff;
    --sidebar-foreground: #ffffff;
    --sidebar-border: rgba(255, 255, 255, 0.1);
  }
}

@layer components {
  .btn {
    @apply flex items-center gap-2 bg-cuidarte-accent text-white font-sans font-bold;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-right {
  animation: slide-in-from-right 0.3s ease-out;
}